<div class="container">
    
    <div class="frame">
      
      <div class="cards">

        <div class="card">
          <mat-card class="hobby-card">
            <mat-card-header>
              <div mat-card-avatar class="guitar-header-image"></div>
              <mat-card-title>Guitar</mat-card-title>
              <mat-card-subtitle>introduced me to my neighbors</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../assets/rig.JPG" alt="my guitar">
            <mat-card-content>
              <p>
                I have been noodling around for about 10 years, on and off and sometimes more seriously than others.
                One of my neightbors left me a note on my windshield saying "Thank you for your music. It's been a gift in our lives."
              </p>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="card">
          <mat-card class="hobby-card">
            <mat-card-header>
              <div mat-card-avatar class="camera-header-image"></div>
              <mat-card-title>Photography</mat-card-title>
              <mat-card-subtitle>my third eye</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../assets/camera.jpg" alt="my camera">
            <mat-card-content>
              <p>
                A Sony point-and-shoot camera led me onto this trail when I was in high school. 
                Next thing I know my photo was published on newspaper.
                Downsized my gears and now I have with me a Canon AE-1P.
              </p>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="card">
          <mat-card class="hobby-card">
            <mat-card-header>
              <div mat-card-avatar class="book-header-image"></div>
              <mat-card-title>Reading</mat-card-title>
              <mat-card-subtitle>!backwards read can you !wow</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../assets/book.jpg" alt="my book">
            <mat-card-content>
              <p>
                I currently find myself partial to Russian writers, Tolstoy, V.Grossman, etc.  
              </p>
              <p>Salvation lies within.</p>
            </mat-card-content>
          </mat-card>
        </div>

      </div>
    </div>

    <div class="buttons">
        <button class="nav-button" id="home-button" routerLink="home" matTooltip="back to home" matTooltipClass="tooltip">
          <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="home" class="svg-inline--fa fa-home fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path class="fa-primary" fill="currentColor" d="M280.37 148.26L96 300.11V464a16 16 0 0 0 16 16l112.06-.29a16 16 0 0 0 15.92-16V368a16 16 0 0 1 16-16h64a16 16 0 0 1 16 16v95.64a16 16 0 0 0 16 16.05L464 480a16 16 0 0 0 16-16V300L295.67 148.26a12.19 12.19 0 0 0-15.3 0zM571.6 251.47L488 182.56V44.05a12 12 0 0 0-12-12h-56a12 12 0 0 0-12 12v72.61L318.47 43a48 48 0 0 0-61 0L4.34 251.47a12 12 0 0 0-1.6 16.9l25.5 31A12 12 0 0 0 45.15 301l235.22-193.74a12.19 12.19 0 0 1 15.3 0L530.9 301a12 12 0 0 0 16.9-1.6l25.5-31a12 12 0 0 0-1.7-16.93z"></path></svg>
        </button>
    </div>
</div>
