.container {
    margin-left: 5rem;
    position: relative;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.frame {
    width: 75vw;
    height: 80vh;
    border: 15px solid #3C403D;
    border-radius: 18px;
    background-color: #A3BCB6;
}
.cards {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}
.card {
    height: 70vh;
    width: 20vw;
    margin: auto;  
}

//card style
.mat-card {
    box-shadow: 20px 20px 50px #3C403D;
}
::ng-deep.mat-card {
    font-family: 'Open Sans', sans-serif, monospace;
    
    mat-card-title {
        font-weight: bold;
        letter-spacing: 0.1em;
    }
}

::ng-deep.guitar-header-image {
    background-image: url('../../assets/guitar.jpg');
    background-size: cover;
}
::ng-deep.camera-header-image {
    background-image: url('../../assets/camera.png');
    background-size: cover;
}
::ng-deep.book-header-image {
    background-image: url('../../assets/book-header.jpg');
    background-size: cover;
}

// navigation button
.buttons {
    position: fixed;
    bottom: 0;
    right: 0;
}
.nav-button {
    height: 4rem;
    width:  4rem;
    margin: 0.3rem;
    border-radius: 1.5rem;
    border: none;
    outline: none;
    background-color: #69a570;
    cursor: pointer;
}
svg {
    width: 2rem;
    height: 2rem;
}
.fa-primary {
    color: #DADED4;
    transition: 600ms;
}
.nav-button:hover {
    background-color: #41b94d;
    transition: 600ms;
}
::ng-deep .tooltip {
    font-size: 2vh;
    font-family: 'Open Sans', sans-serif;
}