.container {
    margin-left: 5rem;
    position: relative;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.frame {
    width: 75vw;
    height: 80vh;
    border: 15px solid #3C403D;
    background-color: #A3BCB6;
    border-radius: 18px;
}

.photo {
    height: 64vh;
    width: 37.5vw;
    float: right;
}
img {
    height: 100%;
    max-width: 37.5vw;
    margin-top: 10%;
}

.description {
    height: 64vh;
    width: 37.5vw;
    float: left;
    margin-top: 5%;
    // background-color: lightcoral;
}

.caption {
    font-family: 'Open Sans', sans-serif;
    padding: 2vh 0;
    p {
        font-size: 3vh;
        letter-spacing: 0.15em;;
        margin-top: 0;
        margin-left: 1vw;
    }
    p:not(:last-child) {
        margin-bottom: 2vh;
    }
}

mat-tab-group {
    font-family: 'Open Sans', sans-serif;
    height: 64vh;
    max-width: 37.5vw;
    margin-left: 5vw;
}
::ng-deep.mat-tab-label {
    color:#3C403D;
    font-size: 3vh;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
::ng-deep.mat-tab-group.mat-primary .mat-ink-bar {
    background: #F1B24A;
    height: 0.5vh;
} 


// navigation button
.buttons {
    position: fixed;
    bottom: 0;
    right: 0;
}
.nav-button {
    height: 4rem;
    width:  4rem;
    margin: 0.3rem;
    border-radius: 1.5rem;
    border: none;
    outline: none;
    background-color: #69a570;
    cursor: pointer;
}
svg {
    width: 2rem;
    height: 2rem;
}
.fa-primary {
    color: #DADED4;
    transition: 600ms;
}
.nav-button:hover {
    background-color: #41b94d;
    transition: 600ms;
}
::ng-deep .tooltip {
    font-size: 2vh;
    font-family: 'Open Sans', sans-serif;
}