.container {
    margin-left: 5rem;
    position: relative;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.frame {
    width: 75vw;
    height: 80vh;
    border: 15px solid #3C403D;
    border-radius: 18px;
}

img {
    height: 70%;
    border-radius: 18px;
    box-shadow: 10px 10px 30px #3C403D;
}

//stepper
::ng-deep .mat-stepper-horizontal {
    height: 100%;   
    overflow: hidden;
        background-image: url(../../assets/cat/background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
::ng-deep .mat-horizontal-stepper-header {
    font-family: 'Open Sans', sans-serif, monospace;
}
::ng-deep .mat-step-header .mat-step-icon {
    background-color: #39603D;
}
::ng-deep .mat-step-label {
    font-weight: bold;
}
::ng-deep .mat-horizontal-content-container {
    height: 100%;
}
::ng-deep .mat-horizontal-stepper-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: #3C403D;
    font-family: 'Open Sans', sans-serif, monospace;
    font-weight: bold;
    font-size: 1.5vw;
    letter-spacing: 0.2em;
}


// navigation button
.buttons {
    position: fixed;
    bottom: 0;
    right: 0;
}
.nav-button {
    height: 4rem;
    width:  4rem;
    margin: 0.3rem;
    border-radius: 1.5rem;
    border: none;
    outline: none;
    background-color: #69a570;
    cursor: pointer;
}
svg {
    width: 2rem;
    height: 2rem;
}
.fa-primary {
    color: #DADED4;
    transition: 600ms;
}
.nav-button:hover {
    background-color: #41b94d;
    transition: 600ms;
}
::ng-deep .tooltip {
    font-size: 2vh;
    font-family: 'Open Sans', sans-serif;
}