<h2 mat-dialog-title>Java ☕</h2>
<mat-dialog-content class="mat-typography">
  <p>Java is the first language I was exposed to, even before I started taking formal courses.</p>
  <p>Thanks to several university courses, I have reached intermediate to advanced level.</p>
  <p><code>System.out.println("Hello World!");</code> is near and dear to my heart.</p>
  <p>Fortunately, I got the opportunity to apply my Java skills on my internship with CaseWare International.</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>CLOSE</button>
</mat-dialog-actions>
