.container {
    margin-left: 5rem;
    position: relative;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.frame {
    width: 75vw;
    height: 80vh;
    border: 15px solid #3C403D;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    background-image: url(../../assets/toronto.jpg);
    background-size: cover;
    background-position: center;
}

.panel {
    width: 80%;
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

//expansion panel
::ng-deep.action-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    margin-left: 5vh;
    button {
        font-size: 3vh;
        background: none;
        outline: none;
        border: 2px solid #3C403D;
        border-radius: 5px;
    }
    button + button {
        margin-top: 2vh;
    }
}
::ng-deep.headers-align {
    margin-top: 5vh;
    width: 80%;
    .resume-line {
        font-family: 'Open Sans', sans-serif; 
        font-size: 1vw;
        letter-spacing: 0.1em;
        margin: 0 0 1vh 0;
        display: flex;
        justify-content: space-between;
    }
}
::ng-deep.headers-align .mat-expansion-panel-header-title,
::ng-deep.headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1vw;
    font-weight: bold;
    letter-spacing: 0.2em;
    color: #3C403D;
}

// navigation button
.buttons {
    position: fixed;
    bottom: 0;
    right: 0;
}
.nav-button {
    height: 4rem;
    width:  4rem;
    margin: 0.3rem;
    border-radius: 1.5rem;
    border: none;
    outline: none;
    background-color: #69a570;
    cursor: pointer;
}
svg {
    width: 2rem;
    height: 2rem;
}
.fa-primary {
    color: #DADED4;
    transition: 600ms;
}
.nav-button:hover {
    background-color: #41b94d;
    transition: 600ms;
}
::ng-deep .tooltip {
    font-size: 2vh;
    font-family: 'Open Sans', sans-serif;
}