<h2 mat-dialog-title>Contact Me</h2>
<mat-dialog-content class="mat-typography">

    <form action="https://formspree.io/f/mbjpwrow" method="POST">
        
          <label>
            Your name:
            <br>
            <input type="text" name="_name" required>
          </label>
          <label>
            Your email:
            <br>
            <input type="text" name="_replyto" required>
          </label>
          <label>
            Your message:
            <textarea name="_message" required></textarea>
          </label>
          <button mat-raised-button type="submit">Send</button>
       
    </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
