::ng-deep.mat-dialog-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 3vh;
    font-weight: bold;
    letter-spacing: 0.2em;
}

::ng-deep.mat-dialog-content {
    font-family: 'Open Sans', sans-serif;
    font-size: 2vh;
    letter-spacing: 0.1em;
    form {
        margin: 30px auto;
        padding: 10px;
        max-width: 600px;
        background-color: #eeeeee;
        text-align: center;
        border-radius: 10px;

        display: flex;
        flex-direction: column;

        button {
            background-color: #A3BCB6;
            width: 50%;
            margin: auto;
        }
        button:hover {
            opacity: 0.8;
            transition: 600ms;
        }
        input {
            margin-top: 1vh;
            margin-bottom: 1vh;
        }
    }
    textarea {
        width: 90%;
        padding: 10px;
        border: 1px solid #ccc;
        margin: 10px;
        font-size: 1em;
        resize: vertical;
    }
}

::ng-deep.mat-dialog-actions {
    button:hover {
        background-color: rgb(216, 216, 216);
        transition: 600ms;
    }
}