@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');

:root {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    --text-primary: #576e75;
    --text-secondary: #35535c;
    --bg-primary: #fdf6e3;
    --bg-secondary: #f5e5b8;
    --transition-speed: 600ms;
}

.fa-primary {
    color: #DADED4;
    transition: 600ms;
}

.navbar {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    height: 100vh;
    width: 5rem;
    position: fixed;
    background-color: #3C403D;
    transition: width 300ms ease;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 10px 10px 30px #3C403D;
}

.navbar:hover {
    width: 16rem;
}

.link-text, .menu-text {
    display: none;
    margin-left: 1rem;
}

.navbar:hover .link-text, .navbar:hover .menu-text {
    display: inline;
    transition: opacity 600ms;
}

.nav-item:last-child {
    margin-top: auto;
}

.menu-link {
    display: flex;
    align-items: center;
    height: 5rem;
    border-radius: 1.5rem;
    color: #A3BCB6;
    text-decoration: none;
    transition: 600ms;
    pointer-events: none;
}
.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    border-radius: 1.5rem;
    color: #A3BCB6;
    text-decoration: none;
    transition: 600ms;
}
.nav-link:hover {
    background: #39603D;
    color: #FFFFFF;
}

.menu-button {
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    margin-bottom: 0.5rem;
    background: #39603D;
}


/* svg styles */
.nav-link svg, .menu-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}
.menu-button svg {
    transform: rotate(0deg);
    transition: 600ms;
}
.navbar:hover .menu-button svg {
    transform: rotate(-270deg);
}
.navbar:hover .menu-button svg
{
  margin-left: 7rem;
}

