<h2 mat-dialog-title>JavaScript</h2>
<mat-dialog-content class="mat-typography">
  <p>In the early days, I thought JavaScript and Java are relatives. Couldn't have been more wrong.😅</p>
  <p>JavaScript has been the core of my initiatives, whether work or side projects.</p>
  <p>In order to achieve a solid grasp on JS, I have read "Secrets of the JavaScript Ninja" by John Resig.</p>
  <p>Honestly I find JS intriguing and I constantly go through study materials to improve my practice.</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>CLOSE</button>
</mat-dialog-actions>