<h2 mat-dialog-title>Angular</h2>
<mat-dialog-content class="mat-typography">
  <p>Maybe you noticed, this site is built with Angular.</p>
  <p>I had the wonderful opportunity at CaseWare International to learn Angular and apply to actual projects.</p>
  <p>Familiar with design concepts and principles, as well as UI component library - Angular Material.</p>
  <p>Frankly speaking, Angular is awesome!</p>
  <p>This is actually the second front-end framework I was exposed to, the first one being React.</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>

