::ng-deep.mat-dialog-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 3vh;
    font-weight: bold;
    letter-spacing: 0.2em;
}

::ng-deep.mat-dialog-content {
    font-family: 'Open Sans', sans-serif;
    font-size: 2vh;
    letter-spacing: 0.1em;
}

::ng-deep.mat-dialog-actions {
    button {
        font-family: 'Open Sans', sans-serif;
    }
    button:hover {
        background-color: rgb(216, 216, 216);
        transition: 600ms;
    }
}